* {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

h1 {
    color: #1e3b67;
    font-family: 'open sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
}

h2 {
    color: #1e3b67;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    
}

h3 {
    color: #1e3b67;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    
}

h4 {
    color: #1e3b67;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #1e3b67;
    font-style: normal;
    font-weight: 500;
    
}

body {
    background-color: #f3f3f3;
}

.logo {
    color: #1e3b67;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    margin-left: 60%;
    line-height: 150px
}

#menu {
    width:100%;
    height: 112px;
    background-color: #ffffff;
}

#menu:before,
#menu:after {
    content: "";
    display: block;
}

#menu:after {
    clear: both;
}

#menu li {
    color: #3cc6ed;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    display: inline-block;
    text-decoration: none;
}

#workbench-menu {
    text-decoration: none;
    color: #3cc6ed;
    font-family: proxima-nova, sans-serif;
    font-size: 26px;
    line-height: 150px;
    position: relative;
    margin-left: 75%;
}

#menu .menu-workbench li a{
    color: #1e3b67;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    font-size: 16px;
    border: 1px solid #1e3b67;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 30px;
    
}

#menu .menu-workbench li a:hover{
    background-color: #3cc6ed;
    color: white;
    border: none;

}

.menu-workbench li:first-child {
    margin-left: 15%;
}

#menu li.account {
    display: inline-block;
    float: right;
    margin-right: 5%;
    padding-top: 20px;
    line-height: 125px;
    
}

.menu-workbench ul {
    background-color: rgba(255, 255, 255, 0.98);
    height: 100px;
    position: absolute;
    z-index: 1;
    top: 112px;
    right: 0px;
    left: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    

    opacity: 0;
    visibility: hidden;

}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.container-main {
    margin: 45px auto;
    width: 90%;
}

.workbench-title {
    margin-bottom: 25px;
    position: relative;
}

#status-bar {
    background-color: white;
    width: 100%;
    height: 140px;
    border-radius: 5px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffffff;
  margin-left: 90px;
}

.referral-title {
    padding-top: 35px;
    padding-left: 20px;
    color: #3cc6ed;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    display: inline-block;
    margin-top: 0px;
}

.blocks {
    width: 300px;
    margin-top: 25px;
    float: left;
}

.container-flex {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    width: 100%;
}

.inner-block-top {
    height: 150px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.inner-block-center {
    height: 100px;
    background-color: #f5faeb;
    overflow: hidden;
    box-sizing: border-box;
    padding: 25px;
    
}

.inner-block-center:hover {
    height: auto;
    background-color: #f5faeb;
    
}

.inner-block-bottom {
    height: 40px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 25px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.p-cta {
    font-family: 'Open Sans', sans-serif;
    font-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #3cc6ed;
    font-weight: 500;
    text-decoration: none;
    display: block;
    
}

.card-status {
    font-family: 'Open Sans', sans-serif;
    color:#f8981d;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding-top: 17px;
    padding-left: 20px;
    display: inline-block;
    
}

.card-business {
    color: #1e3b67;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    padding-left: 20px;
    padding-top: 5px;
}

.card-business-type {
    color: #1e3b67;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 5px;
}

a.card-link {
    color: #99ca3c;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding-left: 20px;
    text-decoration: none;
    margin-top: 2px;
    display: block;
}

.card-info {
    display: inline-block;
    vertical-align: top;
}

.circle-icon {
    width: 46px;
    height: 46px;
    background-color: #ffffff;
    border-color: #1e3b67;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    margin-top: 45px;
    margin-left: 15px;
}

.circle-icon-text {
    color: #1e3b67;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    margin: 0;
    display: inline-block;
    padding-left: 8px;
    padding-top: 10px;
    
}

.card-top-border {
    height: 2px;
    width: 100%;
    background-color: #99ca3c;
        
}

.h2-size {
    font-size: 43px;
    text-align: right;
    padding-right: 15px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.border-right {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #1e3b67;
    padding-right: 2px;

}

.status-amount {
    
    display: inline-block;
    padding-right: 15px;
    
}

#space {
    float: right;
    padding-top: 25px;
}

.no-top-margin {
    color: #1e3b67;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-top: 0px;
    padding-right: 15px;
}

.referral-subtitle {
    color: #3cc6ed;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-top: 25px;
    
}

/*------drawer------*/

.drawer-header {
    background-color: #3cc6ed;
    height: 250px;
    width: 100%;
}

.container-main-drawer {
    margin: auto;
    width: 90%;
    padding-top: 45px;
}

#drawer-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: white;
    margin-top: 15px;
}

.drawer-menu li {
    display: inline-block;
    margin-top: 7%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    margin-right: 50px;
    
}

.menu-arrow {
    
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  z-index;
  border-top: 20px solid #3cc6ed;
  margin-left: 5%;
  margin-top: 22px;
    
/*
  opacity: 0;
  visibility: hidden;
*/
    
}
/*

.drawer-menu li:focus > .menu-arrow {
    
  opacity: 1;
  visibility: visible;
}*/

.second-cta {
    display: block;
    list-style: none;
    float: right; 
    margin-left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

.second-cta a {
    color: #3cc6ed;
}

.title {
    display: block;
    list-style: none;
    float: left; 
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    position: relative;
}

.top-title {
    height: 110px;
    position: relative;
}

.form-entry {
    margin-top: 100px;
    width: 33%;
}

.form-entry-second {
    margin-top: 100px;
    width: 33%;
    float: left;
}

.test {

}
